@model IEnumerable<hakutsuru.Models.PcInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Use)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IpAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Use)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PcName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ControlNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.ControlNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ControlNumber })
        </td>
    </tr>
}

</table>
